%h1 New inflow

= form_with model: @inflow, url: account_inflows_path(@account) do |f|
  %p
    = f.label :date
    %br
    .date-inputs
      = f.date_select :date, selected: Date.current
  %p
    = f.label :payer_name
    %br
    = f.text_field :payer_name
    = errors_for @inflow, :target_name
  %p
    = f.label :description
    %br
    = f.text_field :description
  %p
    = f.label :amount
    %br
    = f.number_field :amount
    = errors_for @inflow, :amount
  %p
    = f.button
