%h1 New inflow

= form_with model: @inflow, url: account_inflows_path(@account) do |f|
  %p
    = f.label :payer_name
    %br
    = f.text_field :payer_name
  %p
    = f.label :description
    %br
    = f.text_field :description
  %p
    = f.label :amount
    %br
    = f.number_field :amount
  %p
    = f.button
