%h1 New expense

= form_with model: @expense, url: account_expenses_path(@account) do |f|
  %p
    = f.label :payee_name
    %br
    = f.text_field :payee_name
  %p
    = f.label :description
    %br
    = f.text_field :description
  %p
    = f.label :amount
    %br
    = f.number_field :amount
  %p
    = f.button
